
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size:18px;
    font-weight: 500;
}

.header {
    background-image: url(../images/pattern-bg.png);
    width:100%;
    display: grid;
    grid-auto-columns: 1;
    padding: 3rem 0rem 5rem 0rem;
}

.header .title {
    color: #fff;
    margin: auto;
    margin-bottom: 1rem;
    font-weight: 500;
}

.header .inputs {
    color: #fff;
    margin: auto;
}

.header .inputs #ip_input {
    border-radius: 1rem 0rem 0 1rem;
    border: none;
    height:3rem;
    width: 25rem;
    padding:0;
    padding-left: 2rem;
    color: hsl(0, 0%, 59%);
}

.header .inputs #ip_button {
    border-radius: 0rem 1rem 1rem 0;
    border: none;
    height:3rem;
    width: 3rem;
    margin-left: -5px;
    background-color: hsl(0, 0%, 17%);
}
.header .inputs #ip_button img {
    line-height: 0;
    height:20%
}

.info {
    width:80%;
    display: flex;
    border-radius: 1rem;
    transform: translate(13%, -35px);
    background-color: #fff;
    box-shadow:0px 5px 5px rgba(0, 0, 0, 0.507);
    position: absolute;
    z-index: 100;
}

.info_cell {
    width:25%;
    height: 8rem;
    margin: auto;
    text-align: center;
}

#mapid { 
    height: 30rem;
    margin-top:0;
    position: absolute;
    z-index:50;
}


/*Todo*/
/*Mobile*/